/*UNIVERSAL SELECTOR*/
* {
    
}
/***********************************
GENERAL
************************************/
body {
   margin: 0;
   font-family: 'Roboto', sans-serif;
   line-height: 1.5; 
}

.main-header, .title {
  text-align: center;  
}

.title {
  /*To change font-size from px to em. Do this simple equataion.
  Whatever the desired pixel is / 16.
  26px/16px =  
  */  
  font-size: 1.625em;  
}

.primary-content {
  text-align: center;
    
}

.secondary-content {
    
}

.primary-content, .secondary-content {
  width: 60%;  
}

.t-border{
  border-top: 2px solid lightgrey;  
}

#main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: solid 10px orange;  
}


/******************************
HEADLINE ELEMENTS & P ELEMENTS
*******************************/

h1 {
   /*90px/16px*/ 
   font-size: 5.625em;
   text-transform: uppercase;
   font-weight: normal;
      
}

h2 {
  font-size: 52px;
  text-decoration: underline;
  font-weight: normal;
}

h3 {
  font-size: 20px;   
}

p {
    
}


/*******************************
COLORS
********************************/
  color: #878787;
}


.title {
  color: white
}

  background-color: #ffa949;
}

ul li {
   color: white
   background-color: tomato;
}

h1 {
 color: white;
}

h3 {
 color: #4852c;
}

/*CSS PSEUDO CLASS*/
a:link {
  color: ffa949;
  text-decoration: none;
}

a:visited {
  color: lightblue
}

a:hover {
  color: forestgreen;
}

a:active {
  color: coral;  
}

a:focus {
  color: white;
  background-color: orange;
}







